<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <table>
      <tr valign="top">
          <td><img src="{{ fuser.avatar(128) }}"></td>
          <td>
              <h1>User: {{fuser.nickname}}</h1>
              {% if fuser.about_me %}<p>{{ fuser.about_me }}</p>{% endif %}
              {% if fuser.last_seen %}<p><i>Last seen on: {{ fuser.last_seen }}</i></p>{% endif %}
              {% if fuser.id == user.id %}<p><a href="{{ url_for('edit') }}">Edit</a>
              {% elif not user.is_following(fuser) %}
                  <a href="{{ url_for('follow', nickname=fuser.nickname) }}">Follow</a>
              {% else %}
                  <a href="{{ url_for('unfollow', nickname=fuser.nickname) }}">Unfollow</a>
</p>{% endif %}<br>
{% if session["admin"]=='true' and user.nickname!=fuser.nickname %}
<a href="{{ url_for('delete_user', nickname=fuser.nickname) }}">Delete User</a>
{% endif %}
          </td>
      </tr>
  </table>
  <hr>
<!-- posts is a Paginate object -->
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
{% if posts.has_prev %}<a href="{{ url_for('user', nickname=fuser.nickname, page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} | 
{% if posts.has_next %}<a href="{{ url_for('user', nickname=fuser.nickname, page=posts.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
{% endblock %}
